{% extends 'layout.html' %}

{% block body %}
<br>
    <h2>Change password</h2>
    <br>
    <div class="container">
        <div class="row">
            <aside class="col-sm-3"></aside>
            <aside class="col-sm-6">
            <article class="card">
                
                <div class="card-body p-4">

                    <form id="form_password" action="/password" method="POST">
                        <div class="form-group">
                            <label style="margin-left: 10px;">Old Password:</label>
                            <input id="old_value" type="password" name="old_password" minlength="6" class="form-control" value="" required>
                        </div>

                        <div class="form-group">
                            <label style="margin-left: 3px;">New Password:</label>
                            <input id="new_value" type="password" name="new_password" minlength="6" class="form-control" value="" required>
                        </div>

                        <div class="form-group">
                            <label style="margin-left:-20px;">Confirm Password:</label>
                            <input id="confirm" type="password" name="confirm" minlength="6" class="form-control" value="" required>
                        </div>
                        <button id="sent_button" style="width: 120px;" type="submit" class="btn btn-primary">Change</button>
                    </form>
                </div>
            </article>
            </aside>
        </div>
             
    </div>

{% endblock %}